.main
  width: 100%
  margin: 0 auto
  padding: 50px
  .main__heading
    font-weight: 700
    font-size: 3vw
    margin-bottom: 20px
  .main__text
    font-size: 24px
    line-height: 1.2
    margin-bottom: 50px
  .section
    width: 90%
    text-align: center
    &:not(:last-child)
      margin-bottom: 50px
    &__heading
      font-size: 2vw
      margin-bottom: 15px
    &__step
      position: relative
      width: 33%
      height: 300px
      padding: 20px
      &:not(:last-child)
        margin-right: 20px
      .step__heading
        font-size: 24px
        font-weight: 700
        margin-bottom: 10px
      .step__img
        position: absolute
        left: 30%
        bottom: 0
        width: 200px
  .categories
    width: 50vw
    margin: 0 auto
    columns: 3
  .category
    position: relative
    font-size: 24px
    margin-bottom: 20px
    &::before
      content: ''
      position: absolute
      top: 12px
      left: -13px
      width: 24px
      height: 24px
      background-image: url(../../assets/images/icons8.png)
      background-size: contain
