.main
  width: 100%
  margin: 100px auto
  padding: 50px
  .main__heading
    font-weight: 700
    font-size: 3vw
    margin-bottom: 20px
  .main__text
    font-size: 24px
    line-height: 1.2
    margin-bottom: 50px
  .section
    width: 90%
    text-align: center
    &:not(:last-child)
      margin-bottom: 50px
    &__heading
      font-size: 2vw
      margin-bottom: 15px
    &__step
      width: 33%
      height: 250px
      padding: 20px
      &:not(:last-child)
        margin-right: 20px
      .step__heading
        font-size: 24px
        font-weight: 700
        margin-bottom: 20px
