.layout
  flex: 1
  display: flex
  flex-direction: column
  align-items: center
  width: inherit
  margin: 0 auto
  background-color: #f3f4fa

  &.has-bg
    background-image: url(../../assets/images/14925739_rm309-adj-05.jpg)
    background-repeat: no-repeat
    background-size: cover
