.appBarContainer {
	width: 100% !important;
	top: 0 !important;
	display: flex !important;
	height: 91px;
	margin: 0;
	background-color: rgb(4, 132, 175, 1) !important;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255, 255, 255, 0.22);
}

.link {
	text-decoration: none;
	font-weight: 800 !important;
	font-size: 16px;
	text-transform: uppercase;
	color: #ffffff;
	opacity: 0.6;
}

.linkContainer {
	padding: 20px !important;
	border-radius: 15px !important;
}

.appBarList {
	display: flex;
	margin: 10px 64px 10px auto !important;
	padding: 0 !important;
}

.logoContainer {
	align-items: center;
	display: flex;
	position: absolute;
	margin-left: 64px;
	margin-top: 8px;
}

.appBarName {
	text-decoration: none;
	margin-top: 20px !important;
	font-weight: 800 !important;
	font-size: 20px !important;
	text-transform: uppercase;
	color: #f2f2f2;
	opacity: 0.8;
	margin-left: 14px !important;
}