.btn-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  width: 50%
  margin-top: auto
  .step-btn
    min-width: 120px
    padding: 20px 10px
  .back-btn
    margin-right: 30px
    color: #236794 !important
.select-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 50px
  .select-wrap
    width: 47%
.step-container .step__heading
  font-size: 26px
  font-weight: 600
  text-align: center
  margin-bottom: 30px
.step__input
  &:not(:last-child)
    margin-bottom: 30px
.step-container .textarea
  height: 110px !important
  margin-bottom: 30px
  padding: 5px 10px
  font-size: 16px
  border: 1px solid #748BA4
  border-radius: 5px
.preview-container
  display: flex
  align-items: stretch
.img-preview
  max-width: 150px
  &:not(:last-child)
    margin-right: 20px
// step 6
.content-wrap
  font-size: 16px
  margin-bottom: 15px
