.btn-container
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  width: 50%
  margin-top: auto
  .step-btn
    min-width: 120px
    padding: 20px 10px
  .back-btn
    margin-right: 30px
    color: #236794 !important
.select-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 50px
  .select-wrap
    width: 47%
.step-container .step__heading
  font-size: 26px
  font-weight: 600
  text-align: center
  margin-bottom: 30px
.step__input
  &:not(:last-child)
    margin-bottom: 30px
.datepicker-wrap
  margin-right: 20px
.step-container .input-heading
  font-size: 1.2rem
  line-height: 1.8
.step-container .textarea
  margin-bottom: 30px
  padding: 5px 10px
  font-size: 16px
  border: 1px solid #748BA4
  border-radius: 5px
.preview-container
  display: flex
  align-items: stretch
.img-preview
  max-width: 150px
  &:not(:last-child)
    margin-right: 20px
.content-wrap
  font-size: 18px
  margin-bottom: 15px
.step-container .category-chip
  margin-bottom: 20px
  padding: 5px 10px
  font-size: 15px
  &:not(:last-child)
    margin-right: 15px
.subcategory
  font-size: 18px
  cursor: pointer
  transition: all .2s ease-in
.selected-chip
  background-color: #748ba4 !important
  color: #fff !important
  transform: scale(1.1,1.1)
  transition: all .2s ease-in
.selected
  font-weight: 700
  font-size: 19px
.step-container .task-preview__text
  margin-bottom: 15px
  font-size: 19px
