@font-face {
	font-family: 'Nunito';
	src: url('./assets/fonts/Nunito-ExtraBold.woff2'),
		url('./assets/fonts/Nunito-ExtraBold.woff');
	font-display: swap;
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: 'Nunito';
	src: url('./assets/fonts/Nunito-Regular.woff2'),
		url('./assets/fonts/Nunito-Regular.woff');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Nunito';
	src: url('./assets/fonts/Nunito-SemiBold.woff2'),
		url('./assets/fonts/Nunito-SemiBold.woff');
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	overflow: auto;
}

body {
	margin: 0;
	padding: 0;
	background-color: #e5e5e5;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	text-decoration: none;
}

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

.list-reset {
	list-style: none;
}

.link-reset {
	color: currentColor;
	text-decoration: none;
}

.show-more {
	padding: 0 5px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #767676;
	cursor: pointer;
}
.wrap {
	height: 100%;
	margin: 0 auto;
	margin-top: 100px;
}
.error {
	border-color: #fb6e07 !important;
	text-align: left;
}
:root {
	--dark-blue: #236794;
	--blue-gray: #748ba4;
	--grey: #b1b0b5;
	--light-grey: #e2e2e1;
	--header-blue: #4795cf;
	--bright-blue: #2e9ad3;
	--light-blue: #6ac2f1;
	--blue: rgb(0, 191, 255);
}
